.homePagePic {
    width: 350px;
    height: auto;
}

/* .homePagePic1 {

    width: 250px;
    height: auto;
} */


body {
    margin: 20 px;
    padding: 30 px;
    /* background-color: rgb(222, 201, 173); */
    /* background-image: linear-gradient(to bottom right, rgb(222, 201, 173), rgb(237, 236, 230), rgb(225, 145, 34)); */
    /* min-height: 100vh; */
}


.frame {
    /* border: 2px solid rgb(13, 12, 12);
    box-shadow: 0 0 0 6px rgb(55, 53, 51); */
    /* background-image: linear-gradient(to bottom right, rgb(222, 201, 173), rgb(237, 236, 230), rgb(240, 175, 84)); */
    background-image: linear-gradient(to bottom right, rgb(11, 11, 11), rgb(237, 236, 230), rgb(106, 104, 100));
    /* padding: 20px; */
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 50px;
    /* border-radius: 10%; */
}

nav {
    font-size: 20px;
    padding-bottom: 20px;
    font-family: monospace;
    color: black;
        list-style-type: none;
    background-color:rgb(175, 174, 173);
    }

a:link { text-decoration: none; color: black;}

a:visited { text-decoration: none; color: black;}

a:hover { text-decoration: none; color: rgb(219, 55, 14);}

a:active { text-decoration: none; color: black;}

h2 {
    font-family: monospace;
    font-size: 27px;
}

.CardHeader {
    font-size: 30px;
    font-family: monospace;
    color: rgb(106, 104, 100);
}

/* contact */

.btnSVG {
    padding: 20px;

}

.btnSVG2 {
    height: 50px;
    padding-right: 100px;
    padding-left: 100px;
}

.frameContact{
    margin-top: 120px;
    
}

/* blog */

.card {
    /* padding-left: 20px;
    padding-right: 20px; */
    margin: 50px;
}

.card {
    /* border-radius: 40%; */
    text-align: center;
    padding-bottom: 10px;
    border: 2px solid rgb(13, 12, 12);
    box-shadow: 0 0 0 12px rgb(242, 240, 242);

}

h1 {
text-align: center;
font-family:monospace;
padding-top: 20px;
padding-bottom: 20px;
}

/* .containerBlog{
    background-image: url("/Css/blog post IMAGES/beige 3.jpeg");;
    background-repeat: no-repeat;
    background-size: cover;

} */


/* BIO */

.bioParagraph {
    font-size: 20px;
    font-family: monospace;
}

/* blog */

