.homePagePic {
    width: 150px;
    height: auto;

}

.homePagePic1 {

    width: 350px;
    height: auto;
}

body {
    margin: 10 px;
    padding: 50 px;
    background-color: rgb(222, 201, 173);
}

.frame {
    border: 5px solid rgb(13, 12, 12);
    /* padding: 20px; */
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
}

nav {
    font-size: 25px;
    padding-bottom: 10px;
    font-family: monospace;
    color: black;
}

/* contact */

.btnSVG {
    padding: 20px;

}

.btnSVG2 {
    height: 50px;
    padding-right: 100px;
    padding-left: 100px;
}

.frameContact{
    margin-top: 120px;
}