.homePagePic {
    width: 200px;
    height: auto;

}

.homePagePic1 {

    width: 350px;
    height: auto;
}


body {
    margin: 20 px;
    padding: 30 px;
    background-color: rgb(222, 201, 173);
}

.frame {
    border: 5px solid rgb(13, 12, 12);
    box-shadow: 0 0 0 12px rgb(190, 117, 45);
    /* padding: 20px; */
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 50px;
}

nav {
    font-size: 20px;
    padding-bottom: 20px;
    font-family: monospace;
    color: black;
    list-style-type: none;
}

/* contact */

.btnSVG {
    padding: 20px;

}

.btnSVG2 {
    height: 50px;
    padding-right: 100px;
    padding-left: 100px;
}

.frameContact{
    margin-top: 120px;
}

/* blog */

.card {
    /* padding-left: 20px;
    padding-right: 20px; */
    margin: 50px;
}

.card {
    border-radius: 40%;
    text-align: center;
    padding-bottom: 10px;
    border: 3px solid rgb(13, 12, 12);
    box-shadow: 0 0 0 12px rgb(242, 240, 242);

}

h1 {
text-align: center;
font-family: monospace;
padding-top: 20px;
padding-bottom: 20px;
}

/* .containerBlog{
    background-image: url("/Css/blog post IMAGES/beige 3.jpeg");;
    background-repeat: no-repeat;
    background-size: cover;

} */