/* BLOG STYLING */

h1 {
    color: navy;
}

.blogBody {
    margin: 0px;
    padding-left: 100px;
    padding-bottom: 100px;
    padding-right: 100px;
}

h1 {
    text-align: center;
    font-size: 70px;
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid black;
}

/* picture {
    height: 50px;
} */




/* CARD STYLING */

.profilePic {
    width: 205px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 85px;
    padding-bottom: 35px;
    
}

.card-title {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
   color: rgb(6, 9, 84);
}

.btnSVG {
    height: 40px;
}

