h1 {
    color: navy;
}

body {
    margin: 0px;
    padding-left: 100px;
    padding-bottom: 100px;
    padding-right: 100px;
}

h1 {
    text-align: center;
    font-size: 70px;
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    width: 325px;
    height: 290px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
  padding-bottom: 35px;
}

p {
    padding-bottom: 50px;
}