@media (min-width: 768px) {
  /* Styles for tablets and desktops */
  .homePagePic {
    max-width: 600px;
  }
  /* .bioParagraph {
    font-size: 1.5rem;
  } */
  .nav {
    font-size: 1.5rem;
  }
  .CardHeader {
    font-size: 3rem;
  }
  .btnSVG {
    padding: 2%;
  }
  .btnSVG2 {
    max-width: 500px;
  }
  h1 {
    font-size: 3rem;
    padding: 3% 0;
  }
}
/* @media only screen and (max-width: 768px) {
  .homePagePic {
    max-width: 150px;
  }
  .homePageFont {
    font-size: 13px;
  }
  .homePagePic1 {
    max-height: 250px;
  }
} */

/* .homePagePic {
  width: 450px;
  height: auto;
} */

.homePagePic {
  /* width: 100%;
  max-width: 450px; */
  width: 350px;
  height: auto;
}

/* .homePagePic1 {
  width: 250px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} */

.homePagePic1 {
  width: auto;
  height: 450px;
  display: block;
  margin: 0 auto;
}

.body {
  margin: 20 px;
  padding: 30 px;
}

.frame {
  background-image: linear-gradient(
    to bottom right,
    rgb(40, 40, 40),
    rgb(237, 236, 230),
    rgb(106, 104, 100)
  )
}


.nav {
  background-color: white;
  justify-content: space-between;
  font-family: monospace;
  font-weight: bolder;
  /* font-size: 20px; */
  font-size: 1.2rem;
}

.nav:link {
  text-decoration: none;
  color: black;
}

h2 {
  font-family: monospace;
  font-size: 27px;
}

h3 {
  font-family: monospace;
  font-size: 27px;
}

.CardHeader {
  /* font-size: 30px; */
  font-size: 2rem;
  font-family: monospace;
  color: rgb(106, 104, 100);
}

@media only screen and (max-width: 768px) {
  .homePagePic {
    max-width: 150px;
  }
  .homePageFont {
    font-size: 13px;
  }
  .homePagePic1 {
    max-height: 250px;
  }
  .CardHeader {
    font-size: 16px;
  }
  .card-title {
    font-size: 14px;
  }
  .card-text {
    font-size: 12px;
  }
  .projectTitle {
    font-size: 20px;
  }
  .nav {
    font-size: 9px;
    line-height: 0.9;
    padding-top: 12px;
  }
  .btnSVG {
    height: 55px;
    width: auto;
    padding: 0px;
  }
}
.btnSVG {
  padding: 20px;
}

.btnSVG2 {
  /* height: 50px; */
  padding-right: 75px;
  padding-left: 75px;

  width: 80%;
  max-width: 400px;
  height: auto;
  padding: 5%;
}

.card {
  margin: 50px;
}

.card {
  text-align: center;
  padding-bottom: 10px;
  border: 2px solid rgb(13, 12, 12);
  box-shadow: 0 0 0 12px rgb(242, 240, 242);
}

h1 {
  text-align: center;
  font-family: monospace;
  padding-top: 40px;
  padding-bottom: 20px;

  font-size: 2.5rem;
  padding: 5% 0;
}

/* BIO */

.bioParagraph {
  font-size: 20px;
  font-family: monospace;
}

@media (max-width: 767px) {
  .bioParagraph {
    font-size: 13px; /* Adjust as needed */
    line-height: 2;
    padding: 0px;
  }
}

/* blog */

.frameBottom {
  padding-left: 25px;
  padding-right: 25px;
  padding: 1rem;
}

.containerBottom {
  padding-left: 60px;
  padding-right: 60px;
}

/* Projects */

.flex {
  width: 10rem;
  height: auto;
}

.btn {
  margin-right: 5px;
}
