@media (min-width: 1024px) {
  /* Styles for tablets and desktops */
  .homePagePic {
    max-width: 600px;
  }
  .CardHeader {
    font-size: 3rem;
  }
  .btnSVG {
    padding: 2%;
  }
  .btnSVG2 {
    max-width: 500px;
  }
  h1 {
    font-size: 3rem;
    padding: 3% 0;
  }
}
.homePagePic {
  width: 350px;
  height: auto;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: all 0.3s ease;
}

.homePagePic:hover {
  transform: scale(1.05); /* Slightly enlarges the image on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Enhances the shadow on hover */
}

.homePagePic1 {
  width: auto;
  height: 450px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.body {
  margin: 20 px;
  padding: 30 px;
}

/* .frame {
  background-image: linear-gradient(
    to bottom right,
    rgb(40, 40, 40),
    rgb(237, 236, 230),
    rgb(106, 104, 100)
  );
} */

.frame {
  background: linear-gradient(
    300deg,
    #aaaaaa,
    #bbbbbb,
    #cccccc,
    #dddddd,
    #909090,
    #636363
  );
  background-size: 360% 360%;
  animation: gradient-animation 12s ease infinite;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav {
  /* display: flex; */
  background-color: white;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
  font-weight: bolder;
  font-size: 1.2rem;
}

.nav-container {
  position: sticky;
  top: 0;
  background-color: #ffffff; /* Customize this as needed */
  z-index: 100; /* Adjust z-index to make sure it's above other content */
}

.nav:link {
  text-decoration: none;
  color: black;
}
.nav-item {
  /* text-align: center; */
padding: 10px;
  text-decoration: none;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.nav-item:hover {
  transform: scale(1.05); /* Slightly enlarges the image on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Enhances the shadow on hover */
}

h2 {
  font-family: monospace;
  font-size: 27px;
}

h3 {
  font-family: monospace;
  font-size: 27px;
}

.CardHeader {
  /* font-size: 30px; */
  font-size: 2rem;
  font-family: monospace;
  color: rgb(106, 104, 100);
}

@media only screen and (max-width: 1024px) {
  .homePagePic {
    max-width: 150px;
  }
  .homePageFont {
    font-size: 13px;
  }
  .homePagePic1 {
    max-height: 250px;
  }
  .CardHeader {
    font-size: 16px;
  }
  .card-title {
    font-size: 14px;
  }
  .card-text {
    font-size: 12px;
  }
  .projectTitle {
    font-size: 20px;
  }
  .nav {
    font-size: 10px;
    line-height: 1.2;
    padding-top: 12px;
  }
  .btnSVG:first-child {
    margin-right: 55px;
    padding-right: 12px;
    margin-top: 5px;
    height: 15px;
    width: auto;
  }
  .btnSVG {
    padding-left: 20px;
    margin: 0px;
    align-content: left;
  }
  .nav-container {
    position: sticky;
    top: 0;
    background-color: #ffffff; /* Customize this as needed */
    z-index: 100; /* Adjust z-index to make sure it's above other content */
  }
  .nav-item {
    text-align: left;
    max-width: 30%; /* Adjust based on how much width you want it to take up */
        /* margin: auto; */
  }
}

.btnSVG:first-child {
  margin-right: 10px;
}

.btnSVG2 {
  /* height: 50px; */
  padding-right: 75px;
  padding-left: 75px;

  width: 80%;
  max-width: 400px;
  height: auto;
  padding: 5%;
}

.card {
  margin: 50px;
}

.card {
  text-align: center;
  padding-bottom: 10px;
  border: 2px solid rgb(13, 12, 12);
  box-shadow: 0 0 0 12px rgb(242, 240, 242);
}

h1 {
  text-align: center;
  font-family: monospace;
  padding-top: 40px;
  padding-bottom: 20px;

  font-size: 2.5rem;
  padding: 5% 0;
}

/* BIO */

.bioParagraph {
  font-size: 20px;
  font-family: monospace;
  line-height: 2;
}

@media (max-width: 767px) {
  .bioParagraph {
    font-size: 13px; /* Adjust as needed */
    line-height: 2;
    padding: 0px;
  }
}

/* blog */

.frameBottom {
  padding-left: 25px;
  padding-right: 25px;
  padding: 1rem;
}

.containerBottom {
  padding-left: 60px;
  padding-right: 60px;
}

/* Projects */

.flex {
  width: 10rem;
  height: auto;
}

.btn {
  margin-right: 5px;
}
